@CHARSET "ISO-8859-1";

.ui-panel-title, .ui-datatable-header {
	color: #107bc2;
	font-size: 30px;
}

.ui-panel {
	padding: 0 !important;
}

.ui-panel-content {
	padding: 20px !important;
}

.ui-dock-container-bottom {
	background-color: #c0c0c0;
}

.ui-datatable-odd {
	background-color: #e1f5fb;
}

.ui-slider {
	margin-left: 10px;
	margin-right: 60px;	
}

.ui-datatable-empty-message {
    display: none;
}

.noBorder tr, .noBorder td {
	border: 0 !important;
}

.transparentBackground tr, .transparentBackground td {
	background: transparent;
}