@CHARSET "ISO-8859-1";

.ui-panel-title, .ui-datatable-header {
	color: #107bc2;
	font-size: 30px;
}

.ui-panel {
	padding: 0 !important;
}

.ui-panel-content {
	padding: 20px !important;
}

.ui-dock-container-bottom {
	background-color: #f4f4f4;
}

.ui-datatable-odd {
	background-color: #e1f5fb;
}
