@CHARSET "ISO-8859-1";

.ui-panel-title, .ui-datatable-header {
	color: #107bc2;
	font-size: 30px;
}

.ui-panel {
	padding: 0;
}

.ui-panel .ui-panel-content {
	padding: 20px;
}

.ui-dock-container-bottom {
	background-color: #c0c0c0;
}

.ui-datatable-odd {
	background-color: #e1f5fb;
}

.ui-slider {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 100% / 7);
}

.ui-datatable-empty-message {
	display: none;
}

.ui-panelgrid.noBorder tr, .ui-panelgrid.noBorder td {
	border-width: 0;
}

.transparentBackground tr, .transparentBackground td {
	background: transparent;
}

a.doodleLink {
	color: #0064dc;
	text-decoration: none;
}

.myGrid {
	width: 66%;
	float: right;
}

.clear {
	clear: both;
}
